@font-face {
  font-family: 'Riffic Free Bold';
  src: url('/fonts/riffic-free-bold.woff2') format('woff2'),
       url('/fonts/riffic-free-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.riffic-header {
  font-family: 'Riffic Free Bold', var(--font-sans), sans-serif !important;
}
